<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnP3K4Bsj3VohGtaK8jLoSwQFzdlHwCc8</string>
	<key>GCM_SENDER_ID</key>
	<string>825981197461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yunish.mgmops</string>
	<key>PROJECT_ID</key>
	<string>mgm-hotel-ops</string>
	<key>STORAGE_BUCKET</key>
	<string>mgm-hotel-ops.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825981197461:ios:c81316fa9a37b9a39bcf9c</string>
</dict>
</plist>